main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#search-result{
    scroll-margin-top: 70px;
    padding: 10px 0;
    overflow: hidden;
}

.col-md-2 ul {
    list-style: none;
    padding: 0;
}
.col-md-2 li:before {
    content: "> ";
    color: black;
    font-weight: bold;
}
.col-md-2 li{
    width: 166px;
    height: auto;
    margin:0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom:1px solid #E5E5E5;
}
.col-md-2 a {
    color: black;
    text-decoration: none;
}
.col-md-2 a:hover {
    color: #716f6f;
    text-decoration: none;
}
.col-md-2{
    margin-bottom: 30px;
}
.column-name{
    color:rgba(0,0,0, 0.7)
}