table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,th {
    padding: 0;
}
td a{
    text-decoration: none;
}
.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 0px solid #cbcbcb;
    width: 100%;
}
.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}
.pure-table td,
.pure-table th {
    border-left: 0 solid #cbcbcb;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
.pure-table thead {

    color: #000;
    text-align: left;
    vertical-align: bottom;
}
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}